<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{ page_title }} | {{ shop.name }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {{ content_for_header }}
  <style>
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('https://fonts.shopifycdn.com/roboto/roboto_n4.woff2') format('woff2'),
       url('https://fonts.shopifycdn.com/roboto/roboto_n4.woff') format('woff');
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('https://fonts.shopifycdn.com/roboto/roboto_n7.woff2') format('woff2'),
       url('https://fonts.shopifycdn.com/roboto/roboto_n7.woff') format('woff');
}

body {
  font-family: 'Roboto', sans-serif;
}
</style>


  </head>
  <body>

          {% section 'custom_header' %}        
    
    <main>
      {{ content_for_layout }}
    </main>

   
  </body>
</html>
