<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{ page_title }} | {{ shop.name }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {{ content_for_header }}
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">

  </head>
  <body>

          {% section 'custom_header' %}        
    <!-- {% section 'custom_hero' %}  -->

    
    <main>
      {{ content_for_layout }}
    </main>

   
  </body>
</html>
